# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Paraview files
*.vtu
*.pvd

# Andromeda restart files
*.rst
*.log
*.txt
*.bin
*.bin.*
navodila-git
run/mesh/ellipsoid.geo
run/mesh/ellipsoid211-in-sphere-1024-1969-3930.msh
run/mesh/ellipsoid211-in-sphere-1024-3630-7324.msh
run/mesh/ellipsoid211-in-sphere-1024-6776-13638.msh
run/mesh/ellipsoid211-in-sphere-1024-728-1485.msh
run/mesh/ellipsoid211-in-sphere-1024-736-1464.msh
run/mesh/ellipsoid211-in-sphere-2048-3625-7314.msh
run/mesh/ellipsoid211-in-sphere-4096-3623-7310.msh
run/mesh/ellipsoid211-in-sphere-512-3624-7312.msh
run/mesh/sphere-in-sphere-1024-1147-2512-tri.msh
run/mesh/sphere-in-sphere-1024-3497-7344-tri.msh
run/mesh/sphere-in-sphere-1024-667-1504-tri.msh
run/stokes/flow-over-sphere-from-all-sides/
run/mesh/oval.msh
run/mesh/oval.vtk
run/mesh/sphere-in-sphere-1024-2140-4272-tri.msh
run/mesh/sphere-in-sphere-1024-2972-5936-tri.msh
run/stokes/flow-over-cyl/
run/stokes/flow-over-ellipsoid65/
run/stokes/flow-over-muscovite/
run/stokes/flow-over-plus/
run/mesh/cyl-in-sphere.geo
run/mesh/cyl-in-sphere.msh
run/mesh/ellipsoid65-in-sphere.geo
run/mesh/ellipsoid65-in-sphere.msh
run/mesh/muscovite-in-sphere.geo
run/mesh/muscovite-in-sphere.msh
run/mesh/muscovite.FCMacro
run/mesh/muscovite.fcstd
run/mesh/muscovite.step
run/mesh/plus-in-sphere.geo
run/mesh/plus-in-sphere.msh
run/mesh/plus.step
run/mesh/valj.step
.vscode/
